@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
body {
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    background-image: url(https://images.ctfassets.net/hrltx12pl8hq/6lceP0TOvBLkGYpu5YQwiz/30ac27a60e4083d1a5c59b23c058309b/3.jpg?fit=fill&w=480&h=270);
}

body {
    background-color: white;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

#titre {
    color: palevioletred;
    font-family: 'Playfair Display';
    font-size: 40px;
    padding: 45px;
}

#titre2 {
    color: rgb(14, 5, 8);
    font-family: 'Playfair Display';
    font-size: 40px;
    padding: 45px;
}

nav .onglets {
    margin-top: 3px;
    margin-left: 500px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://static.posters.cz/image/1300/posters-muraux/beautiful-flowers-pastel-colours-i60057.jpg);
    /* background-repeat: no-repeat; */
    text-align: center;
    background-position: center;
    padding: 40px;
    min-width: 100%;
    width: 1000px;
    height: 500px;
}

header h1 {
    font-family: 'Playfair Display';
    font-size: 50px;
}

header h4 {
    font-family: ' Montserrat';
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

button {
    padding: 5px 15px;
    /* font-family: 'Playfair Display';
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    color: black;
    border: none;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    color: palevioletred;
}

nav .onglets a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 20px;
}

@media screen and (max-width:680px) {
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
        min-width: 150px;
        width: 100%;
    }
}

.info p {
    font-size: 25px;
}

footer {
    margin-top: 40px;
    background-color: pink;
    color: black;
    padding: 30px 100px;
}

footer h1 {
    font-family: 'Playfair Display';
    width: 16%;
}

footer .Services {
    margin-top: -10px;
    display: flex;
    /* flex-wrap: wrap; */
}
.imagefooter ul{
    padding: 0;
    text-align: center;
    margin: 0;
}

.imagefooter ul li{
    display: inline-block;
    padding: 30px;
}

.imagefooter ul li img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}


/* <style>
	.slider {
		width: 500px;
		height: 300px;
		overflow: hidden;
		margin: 150px auto;
	}
	.slides {
		width: calc(500px * 3);
		animation: glisse 10s infinite;
	}
	.slide {
		float: left;
	}

	@keyframes glisse {
		0% {
			transform: translateX(0);
		}
		10% {
			transform: translateX(0);
		}
		33% {
			transform: translateX(-500px);
		}
		43% {
			transform: translateX(-500px);
		}
		66% {
			transform: translateX(-1000px);
		}
		76% {
			transform: translateX(-1000px);
		}
		100% {
			transform: translateX(0);
		}
	}

</style>
<div class="slider">
		<div class="slides">
			<div class="slide"><img src="https://emova-monceaufleurs-fr-storage.omn.proximis.com/Imagestorage/images/2560/1600/5f6dbfaf6c522_visuel2_1_.jpg" alt="" /></div>
			<div class="slide"><img src="https://fleurdelangle.fr/wp-content/uploads/2020/11/valbis.jpg" alt="" /></div>
			<div class="slide"><img src="https://blog.interflora.fr/wp-content/uploads/2014/05/Fleurs-tendresse.jpg" alt="" /></div>
		</div>
	</div> */