@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
body {
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    background-image: url(https://images.ctfassets.net/hrltx12pl8hq/6lceP0TOvBLkGYpu5YQwiz/30ac27a60e4083d1a5c59b23c058309b/3.jpg?fit=fill&w=480&h=270);
}

.Titre{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Titre p{
    font-size: 25px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: pink;
}

#titre {
    color: palevioletred;
    font-family: 'Playfair Display';
    font-size: 40px;
    padding: 45px;
}

#titre2 {
    color: rgb(14, 5, 8);
    font-family: 'Playfair Display';
    font-size: 40px;
    padding: 45px;
}

nav .onglets {
    margin-top: 3px;
    margin-left: 500px;
    /* position: fixed; */
}

button {
    padding: 5px 15px;
    color: black;
    border: none;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}


.main{
    margin: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image{
    width: 50px;    
    width: 50vh;
    justify-content: center;
    align-items: center;
}


.cards .card{
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.cards .card img{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.cards .card .card-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards .card .card-body p{
    margin-top: -10px;
    display: flex;
    
}

footer {
    margin-top: 40px;
    background-color: pink;
    color: black;
    padding: 30px 100px;
}

footer h1 {
    font-family: 'Playfair Display';
    width: 16%;
}

footer .Services {
    margin-top: -10px;
    display: flex;
    /* flex-wrap: wrap; */
}







