@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
body {
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

.Titre{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Titre p{
    font-size: 25px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 7px solid black;
    color: black;
}

#titre {
    color: palevioletred;
    font-family: 'Playfair Display';
    font-size: 40px;
    padding: 45px;
}

#titre2 {
    color: rgb(14, 5, 8);
    font-family: 'Playfair Display';
    font-size: 40px;
    padding: 45px;
}

nav .onglets {
    margin-top: 3px;
    margin-left: 500px;
    /* position: fixed; */
}

button {
    padding: 5px 15px;
    color: black;
    border: none;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}


.main{
    margin: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.card{

    display: flex;
    flex-direction: column;
}

.card-image{
    width: 50px;    
    width: 50vh;
}


.cards .card{
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    
}


.cards .card img{
    width: 300px;
    display: flex;


}

.cards .card .card-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards .card .card-body p{
    margin-top: -10px;
    display: flex;
    
}







